/*
Main-Design of App
Browser-Init and Body-Format

CONTENT
---------------------------------------
1.) browser-init
2.) Body-format
---------------------------------------
*/

/* -------------------------------------------------------------------------- */
/* 1.) browser-init */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
ul[id],
ol[id],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

/* Remove margin, padding and list styles on ul, ol elements with a class- or id-attribute */
ul[class],
ol[class],
ul[id],
ol[id] {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

/* list-entries with a class-attribute should be placed inline */
ul li[class],
ol li[class] {
  display: inline-block;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* 2.) Body-format */
body {
  height: 100vh;
  color: #03060e;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1.1;
  cursor: auto;
}

/* -------------------------------------------------------------------------- */